*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#f3f5f9;
}

/* Main Container */

.container{
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  padding:30px;
}

/* Form Box */

.form-box{
  width:900px;

  display:flex;

  background:white;

  border-radius:24px;

  overflow:hidden;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.08);
}

/* Left Section */

.left-panel{
  width:35%;

  background:linear-gradient(
    180deg,
    #5b5fef,
    #7b7fff
  );

  color:white;

  padding:50px 30px;

  display:flex;
  flex-direction:column;
  justify-content:center;
}

.left-panel h1{
  font-size:38px;
  margin-bottom:15px;
}

.left-panel p{
  line-height:1.7;
  opacity:0.9;
}

/* Right Section */

.right-panel{
  width:65%;

  padding:40px;
}

.right-panel h2{
  margin-bottom:25px;
  color:#222;
}

/* Grid */

.form-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:18px;
}

/* Input Group */

.input-group{
  display:flex;
  flex-direction:column;
}

/* Inputs */

input{
  padding:13px;

  border-radius:10px;

  border:1px solid #dcdcdc;

  font-size:15px;

  transition:0.3s;
}

input:focus{
  outline:none;

  border-color:#5b5fef;

  box-shadow:
    0 0 0 4px rgba(91,95,239,0.15);
}

/* Error */

.error{
  color:red;
  font-size:12px;
  margin-top:5px;
}

/* Button */

.submit-btn{
  margin-top:25px;

  width:100%;

  padding:14px;

  border:none;

  border-radius:12px;

  background:#5b5fef;

  color:white;

  font-size:16px;

  cursor:pointer;

  transition:0.3s;
}

.submit-btn:hover{
  background:#474be0;
}

/* Responsive */

@media(max-width:850px){

  .form-box{
    flex-direction:column;
  }

  .left-panel,
  .right-panel{
    width:100%;
  }

  .form-grid{
    grid-template-columns:1fr;
  }
}